.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 353px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like {
  background: transparent url(../images/inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
