.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  opacity: 70%;
  padding-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    margin: 0;
    width: 100%;
  }
}
