.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url("../images/Close.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__heading {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: #000000;
  margin: 0 0 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__input {
  padding-bottom: 13px;
  border-bottom: 1px solid #000000;
  border: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.modal__button {
  background: #000000;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  opacity: 0px;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  line-height: 22px;
  margin: 25px 0 0;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 18px);
  }

  .modal__heading {
    font-size: 18px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 16.94px;
  }
}
