.page {
  background-color: black;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 920px) {
  .page__section {
    padding: 0 20px;
    max-width: calc(100% - 40px);
  }
}
