.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 51px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  column-gap: 18px;
  row-gap: 7px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__edit {
  background: transparent url(../images/edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  align-self: center;
}

.profile__edit:hover {
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 60%;
}

.profile__add {
  background: transparent url(../images/add.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.profile__add:hover {
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 60%;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 420px;
}

.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 420px;
  white-space: nowrap;
}

@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add {
    margin: 0;
    width: 100%;
  }
}
